.home {
  margin-top: 70px;
  font-family: Arial, sans-serif;
}

/* Section 1: Slider */
.slider {
  width: 100%;
  height: 87vh; /* Altura fixa para a imagem */
  position: relative; /* Necessário para posicionar texto e setas */
  overflow: hidden; /* Garante que partes cortadas da imagem não fiquem visíveis */
}

.slide {
  width: 100vw;
  height: 100%;
  object-fit: cover; /* Faz a imagem preencher o espaço, cortando se necessário */
  object-position: center;
  transition: opacity 0.5s ease-in-out;
}

/* Campo de texto sobreposto ao slide */
.slideText {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.6); /* Fundo semitransparente */
  color: #fff; /* Texto branco */
  padding: 20px 30px;
  border: 2px solid #fff; /* Borda branca */
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); /* Sombra */
  font-size: 1.5rem;
  text-align: center;
  max-width: 80%;
}

/* Botões de navegação */
.navButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.navButton img {
  width: 40px;
  height: 40px;
  opacity: 0.8;
  transition: opacity 0.3s;
}

.navButton img:hover {
  opacity: 1;
}

.navButton:first-of-type {
  left: 10px; /* Botão esquerdo */
}

.navButton:last-of-type {
  right: 10px; /* Botão direito */
}

/* Bolinhas para navegação */
.dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.dot {
  width: 18px;
  height: 18px;
  background-color: #ccc;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dot.activeDot {
  background-color: #408ee0;
}

/* Section 2: Video */
.videoSection {
  background-color: #f2f2f2; /* Cor de fundo */
  color: #000000; /* Cor do texto */
  padding: 40px 20px; /* Espaçamento */
  text-align: center;
  font-family: "Roboto", serif;
  font-weight: 300;
  font-style: normal;
}

.videoTitle {
  font-size: 2rem;
  margin-bottom: 20px;
}

.videoWrapper {
  max-width: 800px;
  margin: 0 auto; /* Centraliza o vídeo */
  border-radius: 15px; /* Bordas arredondadas */
  overflow: hidden; /* Garante que os cantos arredondados sejam aplicados ao vídeo */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4); /* Sombra ao redor do vídeo */
}

.video {
  width: 100%;
  height: 450px; /* Altura do vídeo */
  border: none; /* Remove bordas */
}

.videoMessage {
  margin-top: 20px;
  font-size: 1.2rem;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
}
